.container {
  width: 100vw;
  background-color: black;
}

.contents {
  display: flex;
  flex-direction: row;
  padding-top: 17rem;
}

.textContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  padding-left: 10rem;
  padding-bottom: 5rem;
}

.title,
.subTitle,
.text {
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.text {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

.padding {
  margin: 0.4rem 0;
}
