.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation: fadeIn 2s ease-in-out;
}

/* .contents {
    display: flex;
    flex-direction: row;
} */

.contents {
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 10.1s;
}

.textContainer {
    display: flex;
    width: 80%;
    margin: 4rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.title,
.subTitle,
.text {
    color: white;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.subTitle {
    margin-top: 6rem;
    font-size: 2rem;
    font-weight: 500;
}

.text {
    margin-bottom: 0.3rem;
}

.logo {
    width: 10rem;
    animation: rotateLogo 4s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotateLogo {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
