.container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.container:hover {
    transition: all 0.3s ease-in-out;
    transform: translateX(0.5rem);
}
.contents {
    cursor: pointer;
}
