.container {
    display: flex;
    flex-direction: column;
    height: 20rem;
    background-color: white;
    margin-right: 1rem;
    border: 3px solid gray;
    border-left: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
